/*Preset Colours*/
:root{
    --background-colour:rgb(48, 48, 47);
    --header-wrap:rgb(0,128,128);
    --text-primary:rgb(211,211,211);
    --font-primary:Verdana, Geneva, Tahoma, sans-serif;

    --logo-background:rgb(63, 63, 63);
    --font-logo:'Times New Roman', Times, serif;
    --logo-text-colour:rgb(0,128,128);
}

.bodyClass {    
    background-color:var(--background-colour);
    background-size: cover;
    font-family:var(--font-primary);
    color: var(--text-primary);
}

#headerBanner{
	height:100px;
	background:var(--header-wrap);
	font-size:50pt;
    top:0px;
    position: -webkit-sticky;
    position: sticky;
}
#headwrap>p{
    font-family:var(--font-primary);
    color: var(--text-primary);
    text-wrap: nowrap;
}
#logo{
    height:100px;
    width: 100px;
    background:var(--logo-background);
    border-radius: 10px;
}
#logo>p{
    font-family:var(--font-logo);
    color:var(--logo-text-colour);
}

.btn-outline-search{
    color:var(--text-primary);
    background-color:var(--background-colour);
    border-color:var(--text-primary);
}

#search-inline{
    width:300px;
}

#site-search{
    background-color:var(--text-primary);
}

h1{
    font-family:var(--font-primary);
    font-family:var(--font-primary);
    font-size: 30pt;
    text-decoration: underline;
}
h2{
    font-family:var(--font-primary);
    font-family:var(--font-primary);
    font-size: 20pt;
    text-decoration: underline;
}

.inline{
    display: inline-block;
}
