/*Preset Colours*/
:root{
    --background-colour:rgb(48, 48, 47);
    --header-wrap:rgb(0,128,128);
    --text-primary:rgb(211,211,211);
    --font-primary:Verdana, Geneva, Tahoma, sans-serif;
    --text-highlight:rgb(0,128,128);
    --subheader-wrap:rgb(134, 134, 134);

    --logo-background:rgb(63, 63, 63);
    --font-logo:'Times New Roman', Times, serif;
    --logo-text-colour:rgb(0,128,128);
}

.bodyClass {    
    background-color:var(--background-colour);
    background-size: cover;
    font-family:var(--font-primary);
    color: var(--text-primary);
}

#headerBanner{
	height:100px;
	background:var(--header-wrap);
	font-size:50pt;
    top:0px;
    position: -webkit-sticky;
    position: sticky;
}
#titleBanner{
	background:var(--subheader-wrap);
}
#headwrap>p{
    font-family:var(--font-primary);
    color: var(--text-primary);
    text-wrap: nowrap;
}
#logo{
    height:100px;
    width: 100px;
    background:var(--logo-background);
    border-radius: 10px;
}
#logo>p{
    font-family:var(--font-logo);
    color:var(--logo-text-colour);
}

.btn-outline-search{
    color:var(--text-primary);
    background-color:var(--background-colour);
    border-color:var(--text-primary);
}
.form-switch-ingredients{
    background-color: transparent;
    color: var(--text-primary);
}
.form-check-input{
    background-color: var(--text-primary);
}
.form-check-input:checked{
    background-color: var(--header-wrap);
    border: var(--text-primary);
}
#site-search{
    background-color:var(--text-primary);
}

ul {
    list-style-type: none;
    padding-left: 0px;
}  

h1{
    font-family:var(--font-primary);
    font-size: 30pt;
}
h2{
    font-family:var(--font-primary);
    font-size: 20pt;
}
h3{
    font-family:var(--font-primary);
    font-size: 12pt;
    font-weight: bold;
}
#bodyDiv p{
    font-family:var(--font-primary); 
    font-size: 10pt;
}
a:link, a:visited{
    color:var(--font-primary);
    text-decoration: none;
}
a:hover{
    color:var(--text-highlight);
    text-decoration: none;
}